button {
  display: flex;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: var(--clr-purple);
  margin-inline-start: auto;
  padding: 1.25rem;

  img {
    width: 30px;
  }
}

button:hover {
  background-color: var(--clr-off-black);
  cursor: pointer;
}
