button {
  display: flex;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: var(--clr-purple);
  margin-inline-start: auto;
}

button:hover {
  background-color: var(--clr-off-black);
  cursor: pointer;
}
