.form-control {
  label {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 0.7rem;
    color: var(--clr-smokey-grey);
  }

  small {
    margin-top: 0.5rem;
    display: block;
  }

  input {
    width: 125px;
    height: 55px;
    padding: 1.2rem;
    font-size: 1.25rem;
    border-radius: 0.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 1px solid var(--clr-light-grey);
    outline: none;

    @media (max-width: 45em) {
      width: 100px;
    }
  }

  input:focus {
    border: 1px solid var(--clr-purple);
  }
}
