.form-control {
  position: relative;
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 0.7rem;
    color: var(--clr-smokey-grey);
  }

  input {
    width: 120px;
    height: 50px;
    padding: 1.2rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 1px solid var(--clr-light-grey);
    outline: none;
  }

  input:focus {
    border: 1px solid var(--clr-purple);
  }
}
